@Author: Shreyash More

@Date: 2023-06-26 12:28:00

@Last Modified by: Shreyash More

@Last Modified time: 2023-06-26 12:28:00

@Title : 
        <I><b><h4>Implementaion of Pandas Problem </b>

In [2]:
import pandas as pd
import logging

logging.basicConfig(level=logging.INFO, format='%(asctime)s - %(levelname)s - %(message)s',
handlers=[
        logging.StreamHandler(),  # Stream logs to the console
        logging.FileHandler('pandas.log')  # Store logs in a file
    ])
    # Create a logger
logger = logging.getLogger('my_logger')

1. Write a Python program to create and display a one-dimensional array-like object
containing an array of data using Pandas module.

In [5]:
ds=list(input("Enter a values in list").split())
ds=pd.Series(ds)
print(ds)

0    1
1    2
2    3
3    5
4    6
dtype: object

2.Write a Python program to convert a Panda module Series to Python list and it's type.

In [6]:
ds = pd.Series([2, 4, 6, 8, 10])
print(ds)
print(type(ds))
print(ds.tolist())
print(type(ds.tolist()))

0     2
1     4
2     6
3     8
4    10
dtype: int64
<class 'pandas.core.series.Series'>
[2, 4, 6, 8, 10]
<class 'list'>

3. Write a Python program to add, subtract, multiple and divide two Pandas Series.

In [9]:
ds_1 = pd.Series([2, 4, 6, 8, 10])
ds_2 = pd.Series([10,10,10,10,10])
print(f"The addition of two panda series is {ds_1+ds_2}")
print(f"The subtraction of two panda series is {ds_2-ds_1}")
print(f"The multiplication of two panda series is {ds_1*ds_2}")
print(f"The division of two panda series is {ds_1/ds_2}")

The addition of two panda series is 0    12
1    14
2    16
3    18
4    20
dtype: int64
The subtraction of two panda series is 0    8
1    6
2    4
3    2
4    0
dtype: int64
The multiplication of two panda series is 0     20
1     40
2     60
3     80
4    100
dtype: int64
The division of two panda series is 0    0.2
1    0.4
2    0.6
3    0.8
4    1.0
dtype: float64

4. Write a Python program to get the powers of an array values element-wise.

In [12]:
ds = pd.Series([0,1,2,3,4,5,6])
ds=ds.pow(3)
print(ds)

0      0
1      1
2      8
3     27
4     64
5    125
6    216
dtype: int64

5. Write a Python program to create and display a DataFrame from a specified dictionary
data which has the index labels.

In [16]:
try:
    exam_data = {
        'name': ['Anastasia', 'Dima', 'Katherine', 'James', 'Emily', 'Michael', 'Matthew', 'Laura', 'Kevin', 'Jonas'],
        'score': [12.5, 9, 16.5, None, 9, 20, 14.5, None, 8, 19],
        'attempts': [1, 3, 2, 3, 2, 3, 1, 1, 2, 1],
        'qualify': ['yes', 'no', 'yes', 'no', 'no', 'yes', 'yes', 'no', 'no', 'yes']
    }
    labels = ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j']

    df = pd.DataFrame(exam_data, index=labels)

    print(df)
    logger.info("Program executed Successfully!!")

except Exception as e:
    logger.error(e)

2023-06-26 22:56:11,079 - INFO - Program executed Successfully!!

        name  score  attempts qualify
a  Anastasia   12.5         1     yes
b       Dima    9.0         3      no
c  Katherine   16.5         2     yes
d      James    NaN         3      no
e      Emily    9.0         2      no
f    Michael   20.0         3     yes
g    Matthew   14.5         1     yes
h      Laura    NaN         1      no
i      Kevin    8.0         2      no
j      Jonas   19.0         1     yes

6. Write a Python program to display a summary of the basic information about a
specified Data Frame and its data.

In [18]:
try:
    exam_data = {
        'name': ['Anastasia', 'Dima', 'Katherine', 'James', 'Emily', 'Michael', 'Matthew', 'Laura', 'Kevin', 'Jonas'],
        'score': [12.5, 9, 16.5, None, 9, 20, 14.5, None, 8, 19],
        'attempts': [1, 3, 2, 3, 2, 3, 1, 1, 2, 1],
        'qualify': ['yes', 'no', 'yes', 'no', 'no', 'yes', 'yes', 'no', 'no', 'yes']
    }
    labels = ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j']

    df = pd.DataFrame(exam_data, index=labels)

    print(df.info())
    logger.info("Program executed Successfully!!")

except Exception as e:
    logger.error(e)

2023-06-26 22:57:14,900 - INFO - Program executed Successfully!!

<class 'pandas.core.frame.DataFrame'>
Index: 10 entries, a to j
Data columns (total 4 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   name      10 non-null     object
 1   score     8 non-null      float64
 2   attempts  10 non-null     int64
 3   qualify   10 non-null     object
dtypes: float64(1), int64(1), object(2)
memory usage: 400.0+ bytes
None

7. Write a Python program to get the first 3 rows of a given DataFrame.

In [19]:
try:
    exam_data = {
        'name': ['Anastasia', 'Dima', 'Katherine', 'James', 'Emily', 'Michael', 'Matthew', 'Laura', 'Kevin', 'Jonas'],
        'score': [12.5, 9, 16.5, None, 9, 20, 14.5, None, 8, 19],
        'attempts': [1, 3, 2, 3, 2, 3, 1, 1, 2, 1],
        'qualify': ['yes', 'no', 'yes', 'no', 'no', 'yes', 'yes', 'no', 'no', 'yes']
    }
    labels = ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j']

    df = pd.DataFrame(exam_data, index=labels)

    print(df.head(3))
    logger.info("Program executed Successfully!!")

except Exception as e:
    logger.error(e)

2023-06-26 22:58:35,106 - INFO - Program executed Successfully!!

        name  score  attempts qualify
a  Anastasia   12.5         1     yes
b       Dima    9.0         3      no
c  Katherine   16.5         2     yes

8. Write a Python program to select the 'name' and 'score' columns from the following
DataFrame

In [20]:
try:
    exam_data = {
        'name': ['Anastasia', 'Dima', 'Katherine', 'James', 'Emily', 'Michael', 'Matthew', 'Laura', 'Kevin', 'Jonas'],
        'score': [12.5, 9, 16.5, None, 9, 20, 14.5, None, 8, 19],
        'attempts': [1, 3, 2, 3, 2, 3, 1, 1, 2, 1],
        'qualify': ['yes', 'no', 'yes', 'no', 'no', 'yes', 'yes', 'no', 'no', 'yes']
    }
    labels = ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j']

    df = pd.DataFrame(exam_data, index=labels)

    print(df[['name','score']])
    logger.info("Program executed Successfully!!")

except Exception as e:
    logger.error(e)

2023-06-26 23:04:02,741 - INFO - Program executed Successfully!!

        name  score
a  Anastasia   12.5
b       Dima    9.0
c  Katherine   16.5
d      James    NaN
e      Emily    9.0
f    Michael   20.0
g    Matthew   14.5
h      Laura    NaN
i      Kevin    8.0
j      Jonas   19.0

9. Write a Python program to select the specified columns and rows from a given data
frame

In [64]:
try:
    exam_data = {
        'name': ['Anastasia', 'Dima', 'Katherine', 'James', 'Emily', 'Michael', 'Matthew', 'Laura', 'Kevin', 'Jonas'],
        'score': [12.5, 9, 16.5, None, 9, 20, 14.5, None, 8, 19],
        'attempts': [1, 3, 2, 3, 2, 3, 1, 1, 2, 1],
        'qualify': ['yes', 'no', 'yes', 'no', 'no', 'yes', 'yes', 'no', 'no', 'yes']
    }
    labels = ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j']

    df = pd.DataFrame(exam_data, index=labels)
    
    # Select 'name' and 'score' columns in rows 1, 3, 5, 6
    print(df.loc[['b','d','f','g'],['name','score']])
    logger.info("Program executed Successfully!!")

except Exception as e:
    logger.error(e)

2023-06-27 11:37:00,961 - INFO - Program executed Successfully!!

      name  score
b     Dima    9.0
d    James    NaN
f  Michael   20.0
g  Matthew   14.5

10. Write a Python program to select the rows where the number of attempts in the
examination is greater than 2.

In [25]:
try:
    exam_data = {
        'name': ['Anastasia', 'Dima', 'Katherine', 'James', 'Emily', 'Michael', 'Matthew', 'Laura', 'Kevin', 'Jonas'],
        'score': [12.5, 9, 16.5, None, 9, 20, 14.5, None, 8, 19],
        'attempts': [1, 3, 2, 3, 2, 3, 1, 1, 2, 1],
        'qualify': ['yes', 'no', 'yes', 'no', 'no', 'yes', 'yes', 'no', 'no', 'yes']
    }
    labels = ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j']

    df = pd.DataFrame(exam_data, index=labels)
    
    print(df[df['attempts']>2])
    logger.info("Program executed Successfully!!")

except Exception as e:
    logger.error(e)

2023-06-26 23:13:28,758 - INFO - Program executed Successfully!!

      name  score  attempts qualify
b     Dima    9.0         3      no
d    James    NaN         3      no
f  Michael   20.0         3     yes

11. Write a Python program to count the number of rows and columns of a DataFrame.

In [26]:
try:
    exam_data = {
        'name': ['Anastasia', 'Dima', 'Katherine', 'James', 'Emily', 'Michael', 'Matthew', 'Laura', 'Kevin', 'Jonas'],
        'score': [12.5, 9, 16.5, None, 9, 20, 14.5, None, 8, 19],
        'attempts': [1, 3, 2, 3, 2, 3, 1, 1, 2, 1],
        'qualify': ['yes', 'no', 'yes', 'no', 'no', 'yes', 'yes', 'no', 'no', 'yes']
    }
    labels = ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j']

    df = pd.DataFrame(exam_data, index=labels)
    
    print(f"The number of columns are : {len(df.columns)}")
    print(f"The number of rows are : {len(df.index)}")
    logger.info("Program executed Successfully!!")

except Exception as e:
    logger.error(e)

2023-06-26 23:21:26,865 - INFO - Program executed Successfully!!

The number of columns are : 4
The number of rows are : 10

12. Write a Python program to select the rows where the score is missing,

In [28]:
try:
    exam_data = {
        'name': ['Anastasia', 'Dima', 'Katherine', 'James', 'Emily', 'Michael', 'Matthew', 'Laura', 'Kevin', 'Jonas'],
        'score': [12.5, 9, 16.5, None, 9, 20, 14.5, None, 8, 19],
        'attempts': [1, 3, 2, 3, 2, 3, 1, 1, 2, 1],
        'qualify': ['yes', 'no', 'yes', 'no', 'no', 'yes', 'yes', 'no', 'no', 'yes']
    }
    labels = ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j']

    df = pd.DataFrame(exam_data, index=labels)
    
    print(df[df['score'].isnull()])
    logger.info("Program executed Successfully!!")

except Exception as e:
    logger.error(e)

2023-06-26 23:28:32,575 - INFO - Program executed Successfully!!

    name  score  attempts qualify
d  James    NaN         3      no
h  Laura    NaN         1      no

13. Write a Python program to select the rows where number of attempts in the
examination is less than 2 and score greater than 15.

In [34]:
try:
    exam_data = {
        'name': ['Anastasia', 'Dima', 'Katherine', 'James', 'Emily', 'Michael', 'Matthew', 'Laura', 'Kevin', 'Jonas'],
        'score': [12.5, 9, 16.5, None, 9, 20, 14.5, None, 8, 19],
        'attempts': [1, 3, 2, 3, 2, 3, 1, 1, 2, 1],
        'qualify': ['yes', 'no', 'yes', 'no', 'no', 'yes', 'yes', 'no', 'no', 'yes']
    }
    labels = ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j']

    df = pd.DataFrame(exam_data, index=labels)
    
    print(df[(df['attempts']<2) & (df['score']>15)])
    logger.info("Program executed Successfully!!")

except Exception as e:
    logger.error(e)

2023-06-26 23:31:10,814 - INFO - Program executed Successfully!!

    name  score  attempts qualify
j  Jonas   19.0         1     yes

14. Write a Python program to change the score in row 'd' to 11.5

In [37]:
try:
    exam_data = {
        'name': ['Anastasia', 'Dima', 'Katherine', 'James', 'Emily', 'Michael', 'Matthew', 'Laura', 'Kevin', 'Jonas'],
        'score': [12.5, 9, 16.5, None, 9, 20, 14.5, None, 8, 19],
        'attempts': [1, 3, 2, 3, 2, 3, 1, 1, 2, 1],
        'qualify': ['yes', 'no', 'yes', 'no', 'no', 'yes', 'yes', 'no', 'no', 'yes']
    }
    labels = ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j']

    df = pd.DataFrame(exam_data, index=labels)
    print(f"Before changes\n {df}")
    # we are changing in james score
    df.at['d','score']=11.5
    print(f"\nAfter changes\n {df}")

except Exception as e:
    logger.error(e)

Before changes
         name  score  attempts qualify
a  Anastasia   12.5         1     yes
b       Dima    9.0         3      no
c  Katherine   16.5         2     yes
d      James    NaN         3      no
e      Emily    9.0         2      no
f    Michael   20.0         3     yes
g    Matthew   14.5         1     yes
h      Laura    NaN         1      no
i      Kevin    8.0         2      no
j      Jonas   19.0         1     yes

After changes
         name  score  attempts qualify
a  Anastasia   12.5         1     yes
b       Dima    9.0         3      no
c  Katherine   16.5         2     yes
d      James   11.5         3      no
e      Emily    9.0         2      no
f    Michael   20.0         3     yes
g    Matthew   14.5         1     yes
h      Laura    NaN         1      no
i      Kevin    8.0         2      no
j      Jonas   19.0         1     yes

15. Write a Python program to calculate the sum of the examination attempts by the

In [65]:
try:
    exam_data = {
        'name': ['Anastasia', 'Dima', 'Katherine', 'James', 'Emily', 'Michael', 'Matthew', 'Laura', 'Kevin', 'Jonas'],
        'score': [12.5, 9, 16.5, None, 9, 20, 14.5, None, 8, 19],
        'attempts': [1, 3, 2, 3, 2, 3, 1, 1, 2, 1],
        'qualify': ['yes', 'no', 'yes', 'no', 'no', 'yes', 'yes', 'no', 'no', 'yes']
    }
    labels = ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j']

    df = pd.DataFrame(exam_data, index=labels)
    
    print(f"The total sum based on attemps is :{df['attempts'].sum()}")
    logger.info("Program executed Successfully!!")

except Exception as e:
    logger.error(e)

2023-06-27 11:39:11,346 - INFO - Program executed Successfully!!

The total sum based on attemps is :19

16. Write a Python program to calculate the mean score for each different student in

In [66]:
try:
    exam_data = {
        'name': ['Anastasia', 'Dima', 'Katherine', 'James', 'Emily', 'Michael', 'Matthew', 'Laura', 'Kevin', 'Jonas'],
        'score': [12.5, 9, 16.5, None, 9, 20, 14.5, None, 8, 19],
        'attempts': [1, 3, 2, 3, 2, 3, 1, 1, 2, 1],
        'qualify': ['yes', 'no', 'yes', 'no', 'no', 'yes', 'yes', 'no', 'no', 'yes']
    }
    labels = ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j']

    df = pd.DataFrame(exam_data, index=labels)
    
    print(f"The mean score based on name is :\n{df['score'].mean()}")
    logger.info("Program executed Successfully!!")

except Exception as e:
    logger.error(e)

2023-06-27 11:42:14,694 - INFO - Program executed Successfully!!

The mean score based on name is :
13.5625

17. Write a Python program to append a new row 'k' to data frame with given values for
each column

In [58]:
try:
    exam_data = {
        'name': ['Anastasia', 'Dima', 'Katherine', 'James', 'Emily', 'Michael', 'Matthew', 'Laura', 'Kevin', 'Jonas'],
        'score': [12.5, 9, 16.5, None, 9, 20, 14.5, None, 8, 19],
        'attempts': [1, 3, 2, 3, 2, 3, 1, 1, 2, 1],
        'qualify': ['yes', 'no', 'yes', 'no', 'no', 'yes', 'yes', 'no', 'no', 'yes']
    }
    labels = ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j']

    df = pd.DataFrame(exam_data, index=labels)
    
    new_row = pd.DataFrame({'name': ['Shreyash'], 'score': [15.5], 'attempts': [2], 'qualify': ['yes']}, index=['k'])
    df = df.append(new_row)
    logger.info("Data added successfully")
    print(f"{df}\n")
    df = df.drop('k')
    print("Data deleted successfully")
    print(df)
    logger.info("Program executed Successfully!!")

except Exception as e:
    logger.error(e)

C:\Users\91832\AppData\Local\Temp\ipykernel_39528\2498809002.py:13: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df = df.append(new_row)
2023-06-27 00:10:10,335 - INFO - Data added successfully
2023-06-27 00:10:10,350 - INFO - Program executed Successfully!!

        name  score  attempts qualify
a  Anastasia   12.5         1     yes
b       Dima    9.0         3      no
c  Katherine   16.5         2     yes
d      James    NaN         3      no
e      Emily    9.0         2      no
f    Michael   20.0         3     yes
g    Matthew   14.5         1     yes
h      Laura    NaN         1      no
i      Kevin    8.0         2      no
j      Jonas   19.0         1     yes
k   Shreyash   15.5         2     yes

Data deleted successfully
        name  score  attempts qualify
a  Anastasia   12.5         1     yes
b       Dima    9.0         3      no
c  Katherine   16.5         2     yes
d      James    NaN         3      no
e      Emily    9.0         2      no
f    Michael   20.0         3     yes
g    Matthew   14.5         1     yes
h      Laura    NaN         1      no
i      Kevin    8.0         2      no
j      Jonas   19.0         1     yes

18. Write a Python program to sort the DataFrame first by 'name' in descending order,
then by 'score' in ascending order

In [54]:
try:
    exam_data = {
        'name': ['Anastasia', 'Dima', 'Katherine', 'James', 'Emily', 'Michael', 'Matthew', 'Laura', 'Kevin', 'Jonas'],
        'score': [12.5, 9, 16.5, None, 9, 20, 14.5, None, 8, 19],
        'attempts': [1, 3, 2, 3, 2, 3, 1, 1, 2, 1],
        'qualify': ['yes', 'no', 'yes', 'no', 'no', 'yes', 'yes', 'no', 'no', 'yes']
    }
    labels = ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j']

    df = pd.DataFrame(exam_data, index=labels)
    df_sort_by_name = df.sort_values(by=['name'], ascending=[False])
    df_sort_by_score = df.sort_values(by=['score'], ascending=[True])
    print(f"The value sorted by name :\n{df_sort_by_name}")
    print(f"\nThe value sorted by score :\n{df_sort_by_score}")
    logger.info("Program executed Successfully!!")

except Exception as e:
    logger.error(e)

2023-06-27 00:05:21,244 - INFO - Program executed Successfully!!

The value sorted by name :
        name  score  attempts qualify
f    Michael   20.0         3     yes
g    Matthew   14.5         1     yes
h      Laura    NaN         1      no
i      Kevin    8.0         2      no
c  Katherine   16.5         2     yes
j      Jonas   19.0         1     yes
d      James    NaN         3      no
e      Emily    9.0         2      no
b       Dima    9.0         3      no
a  Anastasia   12.5         1     yes

The value sorted by score :
        name  score  attempts qualify
i      Kevin    8.0         2      no
b       Dima    9.0         3      no
e      Emily    9.0         2      no
a  Anastasia   12.5         1     yes
g    Matthew   14.5         1     yes
c  Katherine   16.5         2     yes
j      Jonas   19.0         1     yes
f    Michael   20.0         3     yes
d      James    NaN         3      no
h      Laura    NaN         1      no

19. Write a Python program to replace the 'qualify' column contains the values 'yes' and
'no' with True and False.

In [55]:
try:
    exam_data = {
        'name': ['Anastasia', 'Dima', 'Katherine', 'James', 'Emily', 'Michael', 'Matthew', 'Laura', 'Kevin', 'Jonas'],
        'score': [12.5, 9, 16.5, None, 9, 20, 14.5, None, 8, 19],
        'attempts': [1, 3, 2, 3, 2, 3, 1, 1, 2, 1],
        'qualify': ['yes', 'no', 'yes', 'no', 'no', 'yes', 'yes', 'no', 'no', 'yes']
    }
    labels = ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j']

    df = pd.DataFrame(exam_data, index=labels)
    df['qualify'] = df['qualify'].replace({'yes': True, 'no': False})
    print(df)
except Exception as e:
    logger.error(e)

        name  score  attempts  qualify
a  Anastasia   12.5         1     True
b       Dima    9.0         3    False
c  Katherine   16.5         2     True
d      James    NaN         3    False
e      Emily    9.0         2    False
f    Michael   20.0         3     True
g    Matthew   14.5         1     True
h      Laura    NaN         1    False
i      Kevin    8.0         2    False
j      Jonas   19.0         1     True

20. Write a Python program to delete the 'attempts' column from the DataFrame.

In [56]:
try:
    exam_data = {
        'name': ['Anastasia', 'Dima', 'Katherine', 'James', 'Emily', 'Michael', 'Matthew', 'Laura', 'Kevin', 'Jonas'],
        'score': [12.5, 9, 16.5, None, 9, 20, 14.5, None, 8, 19],
        'attempts': [1, 3, 2, 3, 2, 3, 1, 1, 2, 1],
        'qualify': ['yes', 'no', 'yes', 'no', 'no', 'yes', 'yes', 'no', 'no', 'yes']
    }
    labels = ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j']

    df = pd.DataFrame(exam_data, index=labels)
    df = df.drop('attempts', axis=1)
    print(df)
except Exception as e:
    logger.error(e)

        name  score qualify
a  Anastasia   12.5     yes
b       Dima    9.0      no
c  Katherine   16.5     yes
d      James    NaN      no
e      Emily    9.0      no
f    Michael   20.0     yes
g    Matthew   14.5     yes
h      Laura    NaN      no
i      Kevin    8.0      no
j      Jonas   19.0     yes

21. Write a Python program to insert a new column in existing DataFrame

In [62]:
try:
    exam_data = {
        'name': ['Anastasia', 'Dima', 'Katherine', 'James', 'Emily', 'Michael', 'Matthew', 'Laura', 'Kevin', 'Jonas'],
        'score': [12.5, 9, 16.5, None, 9, 20, 14.5, None, 8, 19],
        'attempts': [1, 3, 2, 3, 2, 3, 1, 1, 2, 1],
        'qualify': ['yes', 'no', 'yes', 'no', 'no', 'yes', 'yes', 'no', 'no', 'yes']
    }
    labels = ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j']

    df = pd.DataFrame(exam_data, index=labels)
    df['Course'] = 'BEE'
    print(df)
except Exception as e:
    logger.error(e)

        name  score  attempts qualify Course
a  Anastasia   12.5         1     yes    BEE
b       Dima    9.0         3      no    BEE
c  Katherine   16.5         2     yes    BEE
d      James    NaN         3      no    BEE
e      Emily    9.0         2      no    BEE
f    Michael   20.0         3     yes    BEE
g    Matthew   14.5         1     yes    BEE
h      Laura    NaN         1      no    BEE
i      Kevin    8.0         2      no    BEE
j      Jonas   19.0         1     yes    BEE

22. Write a Python program to iterate over rows in a DataFrame.

In [60]:
try:
    exam_data = {
        'name': ['Anastasia', 'Dima', 'Katherine', 'James', 'Emily', 'Michael', 'Matthew', 'Laura', 'Kevin', 'Jonas'],
        'score': [12.5, 9, 16.5, None, 9, 20, 14.5, None, 8, 19],
        'attempts': [1, 3, 2, 3, 2, 3, 1, 1, 2, 1],
        'qualify': ['yes', 'no', 'yes', 'no', 'no', 'yes', 'yes', 'no', 'no', 'yes']
    }
    labels = ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j']

    df = pd.DataFrame(exam_data, index=labels)
    for index, row in df.iterrows():
        print(f"Row index: {index}")
        print(f"Name: {row['name']}")
        print(f"Score: {row['score']}")
        print(f"Attempts: {row['attempts']}")
        print(f"Qualify: {row['qualify']}")
        print()
except Exception as e:
    logger.error(e)

Row index: a
Name: Anastasia
Score: 12.5
Attempts: 1
Qualify: yes

Row index: b
Name: Dima
Score: 9.0
Attempts: 3
Qualify: no

Row index: c
Name: Katherine
Score: 16.5
Attempts: 2
Qualify: yes

Row index: d
Name: James
Score: nan
Attempts: 3
Qualify: no

Row index: e
Name: Emily
Score: 9.0
Attempts: 2
Qualify: no

Row index: f
Name: Michael
Score: 20.0
Attempts: 3
Qualify: yes

Row index: g
Name: Matthew
Score: 14.5
Attempts: 1
Qualify: yes

Row index: h
Name: Laura
Score: nan
Attempts: 1
Qualify: no

Row index: i
Name: Kevin
Score: 8.0
Attempts: 2
Qualify: no

Row index: j
Name: Jonas
Score: 19.0
Attempts: 1
Qualify: yes

23. Write a Python program to get list from DataFrame column headers

In [61]:
try:
    exam_data = {
        'name': ['Anastasia', 'Dima', 'Katherine', 'James', 'Emily', 'Michael', 'Matthew', 'Laura', 'Kevin', 'Jonas'],
        'score': [12.5, 9, 16.5, None, 9, 20, 14.5, None, 8, 19],
        'attempts': [1, 3, 2, 3, 2, 3, 1, 1, 2, 1],
        'qualify': ['yes', 'no', 'yes', 'no', 'no', 'yes', 'yes', 'no', 'no', 'yes']
    }
    labels = ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j']

    df = pd.DataFrame(exam_data, index=labels)
    column_headers = df.columns.tolist()

    print(column_headers)
except Exception as e:
    logger.error(e)

['name', 'score', 'attempts', 'qualify']